body {
  margin: 0;
  padding: 0;
}

footer {
  display: block;
  height: 10vh;
  overflow: auto;
  background-color: #f1f1f1;
  color: #c7254e;
  font-size: 28px;
  padding: 20px;
  box-sizing: border-box;
}

.container {
  height: 90vh;
  display: flex;
  box-sizing: border-box;
}

#output, textarea {
  width: 50%;
  margin: 0;
  padding: 10px;
  color: #222;
  overflow: scroll;
}

textarea:focus {
  outline: 0;
}
